.user-component{
    display: flex;
    align-items: center;
    justify-content: space-between ;

}

.user-component__column{
    display: flex;
    align-items: center;
}

.user-component__column_vertical{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.user-component i{
    padding-left: 4px;
}


.user-component__avatar{
    width: 72px;
    height: 72px;
    border-radius: 24px;
    margin-right: 20px; 
}

.user-component__title{
    font-weight: 500;
    font-size: 20px;
}

.user-component__subtitle{
    margin-top: 6px;
    color: rgb(158, 162, 169);
    font-size: 14px;
}

.user-component__avatar--xl{
    width: 80px;
    height: 80px; 
}

.user-component__avatar--sm{
    width: 60px;
    height: 60px;
    border-radius: 22px;
}

.user-component__title--notbold{
    font-weight: 400;
}

.user-component__column:last-child {
        color: rgb(158, 162, 169);
}


.user-component__time{
    display: flex;
    margin-bottom: 4px;
    color: rgb(158, 162, 169);
}
